<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>欲しいものが、<span class="no-wrap">きっと見つかる。</span></h1>
        <% if user_signed_in? %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>
